<!DOCTYPE html>
<html>
     <head>
      {%load static %}
     <!-- Include Bootstrap CSS -->
     <!--Нужно сделать разную отрисовку базы для авторизованного и неавторизованного пользователя-->
     <!--Если авторизован - кнопка аск, ава, вход в профиль, если нет - ссылки на регистрацию/вход. нет кнопки аск, только поисковое поле-->
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %} ">
     </head>
<body>

     <nav class="navbar navbar-expand-lg" style="background-color:#aca6fd;">
          <div class="container-fluid">
               <nav class="navbar" style="background-color: #aca6fd;">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="{%url 'basic_url'%}">
                         ASKY
                        <img src="{%static 'imgs/icons8-question-mark-48.png'%}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                        
                      </a>
                    </div>
                  </nav>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
           
               <form class="d-flex" type = "text" role="search"  method = "GET" action = "{%url 'search_url' %}">
                {% csrf_token %}
                    <input class="form-control me-2" name = "search" type="text" placeholder="Search" aria-label="Search">
                   
                  </form>
                  <a class="btn btn-outline-success" href="{% url 'ask_url' %}" >ASK!</a>
                
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
              {%if auth %}
              {%include 'components/userblock_element.html'%}
              {%else%}
              {%include 'components/user_element.html'%}
              {%endif%}
            </div>
          </div>
        </nav>
      {% block content %}
      {% endblock %}
     <nav class="navbar container-fluid" style = "background-color: #aca6fd;">
          <div class="container-fluid">
               <a class="navbar-brand" href="#">Sticky bottom</a>
          </div>
     </nav>
   
         <!-- Include Bootstrap JS and jQuery -->
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
     </body>
     </html>
<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html> 