{% extends "base.html" %}
{%load static%}

{% block content %}
<!--Тут нужно сделать проверку на наличие параметра tag в url, если нашли - добавить заголовок и сделать фильтрацию!-->
<!--То же самое касается поиска по названию вопроса-->
<main class = "flex-shrink-8"> 
     <div class = "container">
       <div class="row">

         <div class="col-9">
           <h1>Questions</h1>
           {%if tag_name%}
           <h2>Tag:{{tag_name}}</h2>
           {%endif%}
           {% for question in questions %}
           {%csrf_token%}
           {%include 'components/question-comp.html' %}
           {% endfor %}
          {% include "components/pagination.html"%}
         </div>
         <div class = "col-3">
           {% include 'components/tags.html' %}
         </div>
     </div>

   </main>
   <script>
    const likeItems = document.getElementsByClassName('like-container');
console.log(likeItems[0].children)
for (let item of likeItems){

  const[button, count] =item.children;
  console.log (button.id)
  button.addEventListener('click', ()=> {

    const formData = new FormData()
    formData.append("id",button.id)
    request = new Request("/like", {method:'POST', body: formData
  })
    fetch(request)
    .then((response)=>response.json()
    )
    .then ((data)=>{
      console.log (data.count)
      count.innerHTML = data.count;}
      )

    
});
}
   </script>
 
{% endblock %}