{% extends "base.html" %}
{%load static%}
{% block content %}
<!--Тут нужно сделать проверку на наличие параметра tag в url, если нашли - добавить заголовок и сделать фильтрацию!-->
<!--То же самое касается поиска по названию вопроса-->
<main class = "flex-shrink-8"> 
     <div class = "container">
       <div class="row">

         <div class="col-9">
           <h1>Questions</h1>
           {% for question in questions %}
          
           {%include 'components/question-comp.html' %}
           {% endfor %}
          {% include "components/pagination.html"%}
         </div>
         <div class = "col-3">
           {% include 'components/tags.html' %}
         </div>
     </div>

   </main>
{% endblock %}