{% extends 'base.html'%}
{%load static%}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static '/css/user_links.css' %} ">
<main class = "flex-shrink-8"> 
     <div class = "container">
       <div class="row">
          <div class="col-8">
          <h1>Log In</h1>
          <form method = "POST" action = "{%url 'login_url'%}">
            {% csrf_token %}
           {%bootstrap_form form %}
             <div style = "display: block;">
             <button class="btn btn-bd-primary btn-col" type="submit"> Log in</button>
             <a href ="{%url 'signup_url'%}" class = "create" style = "margin-bottom: 200px;">Create new accaunt</a>
          </div>
         </div>
        </form>
         <div class = "col-4" >
           {% include 'components/tags.html' %}
         </div>
     </div>

   </main>
{% endblock %}