{% extends "base.html" %}
{%load static%}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/like.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static './css/question.css' %}">
<link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
<main class="flex-shrink-8">
     <div class="container">
       <div class="row ">
         <div class="col-8" style="margin-bottom: 100px;">
           <div class = "container">
               <div class = "row">
               <div class = "col-4">
                {%if question.img%}
                <img class = "q-image" src ={{question.img.url}}>
                {%else%}
                    <img class = "q-image" src ="{% static '/imgs/pic.jpeg' %} ">
                {%endif%}
                <div class="like-container" name = "question_like_container">
                  <button class="like-button heart" id = {{question.id}}></button>
                  <span class="like-count">{{question.rating}}</span>
             </div>
               </div>
               <div class = "col-8 container" style = "border: 3cap; border-color: black;">
  
                    <h1>{{question.title}}<h1>
                    <text>{{question.text}}
                         </text>
                    <div class = "container" style = "display:inline-flex; padding: 0%;">
                    <h5 style = "margin-right: 5px;">Tags:</h5>
                    {% for tag in tags%}
                    <a class = "tag_q" href = "{%url 'tag_url' tag.name%}" >{{tag.name}}</a>
                    {%endfor%}
                     </div>
               
               </div>
          </div>
           
           {% for answer in answers %}
           <div class = "row question">
               <div class = "col-3">
                 <img class = "q-image" src = "{% static '/imgs/pic.jpeg' %}"> 
                 <div class="like-container" >
                  <button class="like-button heart" id = {{answer.id}}></button>
                  <span class="like-count">{{answer.rating}}</span>
             </div>
               </div>
                 <div class = "col-9 container">
                   <div class = "q-text">{{answer.text}}</div>
                
                
               <div class="form-check container">
                    <input class="form-check-input" type="checkbox" value="{{answer.correct}}" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault" >
                      Correct
                    </label>
                  </div>
               </div>
             
             </div>
             {%endfor%}
             
            </div>
             <!-- ТУТ еще пагниацию воткнуть надо!!!!!-->
            {% include "components/pagination.html"%}
             <div class = container>
              <form method="POST">
                {%csrf_token%}
               {{form}}
               <button class="btn btn-bd-primary" type="submit" style = "background-color: #a77af0;">Answer</button>
              </form>
              </div>
          </div>
     
           <div class = "col-4">
             {% include "components/tags.html" %}
           </div>
         
        </div>
       </div>
       </main>
    <script>
const likeItems = document.getElementsByClassName('like-container');

console.log(likeItems[0].children)
for (let item of likeItems){

  const[button, count] =item.children;
  console.log (button.id)
  button.addEventListener('click', ()=> {

    const formData = new FormData()
    formData.append("id",button.id)
    if (item.name =='question_like_container'){
    request = new Request("/like", {method:'POST', body: formData})
    }
    else{
      request = new Request("http://127.0.0.1:8000/like/answer", {method:'POST', body: formData})
    }
    fetch(request)
    .then((response)=>response.json()
    )
    .then ((data)=>{
      console.log (data.count)
      count.innerHTML = data.count;}
      )

    
});
}
    </script>
    {% endblock %}