{% extends 'base.html'%}
{%load static%}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static '/css/user_links.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static '/css/settings.css' %} ">
<main class = "flex-shrink-8"> 
     <div class = "container">
       <div class="row">

         <div class="col-9">
          <h1>Settings :{{user.username}}</h1>
          <form method = POST action = "{% url 'settings_url' %}" enctype = 'multipart/form-data'>
            {%csrf_token%}
            {%bootstrap_form form%}
            {%if request.user.profile.img%}
            <div style = "width:300px">
              <img src = {{request.user.profile.img.url}} class = 'w-100'>
            </div>
          {%endif%}
             <div class="col-12" style="margin-top: 30px;">
                  <button class="btn btn-bd-primary" type="submit" style = "background-color: #aca6fd; margin-bottom: 20%;">Save</button>
                </div>    
          </form>     
         </div>
         <div class = "col-3">
           {% include 'components/tags.html' %}
         </div>
     </div>
     </div>


   </main>



{% endblock%}