{% extends "base.html" %}
{%load static%}
{% block content %}
<main class = "flex-shrink-8"> 
     <div class = "container">
       <div class="row">

         <div class="col-8">
           <h1>Registration</h1>
           <form method = "POST" action = "{%url 'signup_url'%}">
            {%csrf_token%}
           {%include "components/user-form.html" %}
          <div class="row g-3 align-items-center" style = "margin-top: 10px;">
               
                 <label for="pass" class="col-sm-2 col-form-label">Password</label>
               
               <div class="col-sm-10"  >
                 <input type="password" id="pass" class="form-control"aria-describedby="passwordHelpInline" >
                 
               </div>
               
                 <span id="passwordHelpInline" class="form-text">
                   Must be 4-20 characters long.
                 </span>
               
             </div>
             <div class="row g-3 align-items-center" style = "margin-top: 10px;margin-bottom: 30px; ">
               
               <label for="passrep" class="col-sm-2 col-form-label">Repeat password</label>

             <div class="col-sm-10"  >
               <input type="password" id="passrep" class="form-control is-invalid"aria-describedby="passwordHelpInline1" >
               <div class="invalid-feedback">
                Пароль не совпадает!
                </div>
             </div>
             
               <span id="passwordHelpInline1" class="form-text">
                 Must be 4-20 characters long.
               </span>
               
           </div>
           {%include "components/upload_avatar.html"%}
           <button class="btn btn-bd-primary" type="submit" style = "background-color: #aca6fd; margin-bottom: 20px;">Save</button>
          </form>
          </div>
         <div class = "col-4">
          {% include 'components/tags.html' %}
         </div>
     </div>

   </main>
{% endblock %}