{%load static%}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static '/css/like.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static '/css/question.css' %} ">

<div class = "row question">
     <div class = "col-3" style = "display: inline;">
      {%if question.img%}
      <img class = "q-image" src ={{question.img.url}}>
      {%else%}
          <img class = "q-image" src ="{% static '/imgs/pic.jpeg' %} ">
      {%endif%}
       <div class="like-container">
        <button class="like-button heart" id={{question.id}}></button>
        <span class="like-count">{{question.rating}}</span>
   </div>
      
     </div>
       <div class = "col-9">
         <div class = "q-title"><a href="{%url 'question_url' question.id%}">{{question.title}}</a></div>
         <div class = "q-text">{{question.text}}</div>
         <div class = "container" style = "display:inline-flex; padding: 0%;width:200px;">
          <h5 style = "margin-right: 5px;">Tags:</h5>
          {% for tag in question.tagquestion_set.all%}
         
          {%if forloop.counter <= 3 %}
          <a class = "tag_q" href = "{%url 'tag_url' tag.tag.name%}" >{{tag.tag.name}}</a>
          {%endif%}
          {%endfor%}
           </div>

       </div>
    
   </div>