<div class="mb-3 row">
     <label for="login" class="col-sm-2 col-form-label">Login</label>
     <div class="col-sm-10">
          <input type="email" class="form-control" id="login" placeholder="alla_dan04" >
     </div>
   </div>

<div class="mb-3 row">
     <label for="email" class="col-sm-2 col-form-label">Email address</label>
     <div class="col-sm-10">
          <input type="input" class="form-control" id="email" placeholder="name@example.com">
     </div>
   </div>
<div class="mb-3 row">
     <label for="nick" class="col-sm-2 col-form-label">NickName</label>
     <div class="col-sm-10">
          <input type="input" class="form-control" id="nick" placeholder="Allochka">
     </div>
</div>